{% extends "base.html" %} 
{% block titulo %}Lista de artículos{% endblock %} 
{% block navegador%}{% include "navegador.html"%}{% endblock %}
{% block body %}
<h2>Lista de artículos de oficina</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Numero
            </th>
            <th>
                Nombre
            </th>
            <th>
                Ubicacion
            </th>
            <th>
                Stock
            </th>
            <th>
                Descripción 
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for us in oficina %}
        <tr>
            <td>{{us.numero_articulo}}</td>
            <td>{{us.nombre}}</td>
            <td>{{us.ubicacion}}</td>
            <td>{{us.stock}}</td>
            <td>{{us.descripcion}}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}