{% extends "base.html" %}
{% block titulo %}Actualizar Insumo{% endblock %}
{% block navegador%}
{% include "navegador.html"%}
{% endblock %}
{% block body %}
<h2>Actualizar Insumo</h2>
<form action="actualizarInsumo" method="get"> {% csrf_token %}
    <div class="col-md-12 col-lg-6">
        <div class="input-group">
            <span class="input-group-text">Numero de insumo</span>
            <input type="text" name="nInsumo" class="form-control" maxlength="25" required />
            <input type="submit" class="btn btn-success" value="Buscar Insumo" />
        </div>
        <div class="mb-3 col-6">
            <div class="form-text">
                {{mensaje}}
            </div>
        </div>
    </div>
</form>
<hr>
<!--
{{usr}}
<hr>
-->
<form action="actualizarInsumo" method="post"> {% csrf_token %}
    <div class="col-md-12 col-lg-6">
        <table class="table">
            <tr>
                <td></td>
                <td><label class="form-label">Datos actuales</label></td>
                <td><label class="form-label">Datos nuevos</label></td>
            </tr>
            <tr>
                <td><label class="form-label">Número</label></td>
                <td colspan="2"><input type="number" class="form-control" disabled value="{{usr.numero_insumo}}"></td>
                <input class="form-control" type="number" hidden name="f_numero_insumo" maxlength="25" required value="{{usr.numero_insumo}}">
            </tr>
            <tr>
                <td><label class="form-label">Nombre</label></td>
                <td><input type="text" class="form-control" disabled value="{{usr.nombre}}"></td>
                <td><input class="form-control" type="text" name="f_nombre" maxlength="40" required /></td>
            </tr>
            <tr>
                <td><label class="form-label">Fecha adquisición</label></td>
                <td><input type="date" class="form-control" disabled value="{{usr.fecha_adquisicion|date:'Y-m-d'}}">
                </td>
                <td><input class="form-control" type="date" name="f_fecha_adquisicion" /></td>
            </tr>
            <tr>
                <td><label class="form-label">Marca</label></td>
                <td><input type="text" class="form-control" disabled value="{{usr.marca}}"></td>
                <td><input class="form-control" type="text" name="f_marca" maxlength="60" required /></td>
            </tr>
            <tr>
                <td><label class="form-label">Stock</label></td>
                <td><input type="number" class="form-control" disabled value="{{usr.stock}}"></td>
                <td><input class="form-control" type="number" name="f_stock" maxlength="60" required /></td>
            </tr>
            <tr>
                <td><label class="form-label">Descripción</label></td>
                <td><input type="text" class="form-control" disabled value="{{usr.descripcion}}"></td>
                <td><input class="form-control" type="text" name="f_descripcion" maxlength="60" required /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <input type="submit" class="btn btn-primary" value="Actualizar" />
                        <input type="reset" class="btn btn-danger" value="Borrar" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
{% endblock %}