{% extends "base.html" %}
{% block titulo %} Agregar Insumo Computacional {% endblock %}
{% block navegador%} {% include "navegador.html"%} {% endblock %}
{% block body %}
<h2>Agregar Insumo Computacional</h2>
<form action="agregarComputacion" method="post"> {% csrf_token %}
    <table>
        <tr>
            <td><label class="form-label">Numero de insumo</label></td>
            <td><input class="form-control" type="number" name="f_numero_insumo"  /></td>
        </tr>
        <tr>
            <td><label class="form-label">Nombre</label></td>
            <td><input class="form-control" type="text" name="f_nombre" /></td>
        </tr>
        <tr>
            <td><label class="form-label">Fecha Adquisición</label></td>
            <td><input class="form-control" type="date" name="f_fecha_adquisicion"  /></td>
        </tr>
        <tr>
            <td><label class="form-label">Marca</label></td>
            <td><input class="form-control" type="text" name="f_marca"  /></td>
        </tr>
        <tr>
            <td><label class="form-label">Stock</label></td>
            <td><input class="form-control" type="number" name="f_stock"  /></td>
        </tr>
        <tr>
            <td><label class="form-label">Descripción</label></td>
            <td><input class="form-control" type="text" name="f_descripcion"  /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-primary" value="Ingresar" />
            </td>
            <td>
                <input type="reset" class="btn btn-danger" value="Cancelar" />
            </td>
        </tr>
    </table>
</form>

{{mensaje}}

{% endblock %}