{% extends "base.html" %}
{% block titulo %} Agregar usuario {% endblock %}
{% block navegador%} {% include "navegador.html"%} {% endblock %}
{% block body %}

<form action="fx_agregarUsuario" method="post"> {% csrf_token %}
    <table>
        <tr>
            <td><label class="form-label">Usuario</label></td>
            <td><input class="form-control" type="text" name="f_username" maxlength="25" required /></td>
        </tr>
        <tr>
            <td><label class="form-label">Clave</label></td>
            <td><input class="form-control" type="password" name="f_password" maxlength="40" required /></td>
        </tr>
        <tr>
            <td><label class="form-label">Email</label></td>
            <td><input class="form-control" type="email" name="f_email" maxlength="60" required /></td>
        </tr>
        <tr>
            <td><label class="form-label">Nombre</label></td>
            <td><input class="form-control" type="text" name="f_nombre" maxlength="60" required /></td>
        </tr>
        <tr>
            <td><label class="form-label">Perfil</label></td>
            <td><select class="form-select" name="f_perfil" required>
                    <option value=""></option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select></td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-primary" value="Ingresar" />
            </td>
            <td>
                <input type="reset" class="btn btn-danger" value="Cancelar" />
            </td>
        </tr>
    </table>
</form>

{% endblock %}