{% extends "base.html" %}
{% block titulo %}Buscar Insumo{% endblock %}
{% block navegador%}
{% include "navegador.html"%}
{% endblock %}
{% block body %}
<h2>Buscar Vehiculo</h2>

<form action="fx_BuscarMarcaModelo" method="get"> {% csrf_token %}

    <div class="input-group">
        <span class="input-group-text">Vehiculo</span>
        <input type="text" name="variable" class="form-control" required placeholder="Ingrese dato del vehiculo" />
        <select class="form-select" aria-label="Default select example" name="tipo_dato">
            <option selected disabled>Buscar por</option>
            <option value="marca">Marca</option>
            <option value="modelo">Modelo</option>
        </select>
        <input type="submit" class="btn btn-success" value="Buscar Vehiculo" />
    </div>

</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Patente</th>
            <th>Número chasis</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ultima revisión</th>
            <th>Próxima revisión</th>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for ve in vehiculos %}
            {% if tipo_dato == "marca" %}
                {% if ve.marca == variable%}
                <tr>
                    <td>{{ve.patente}}</td>
                    <td>{{ve.numero_chasis}}</td>
                    <td>{{ve.marca}}</td>
                    <td>{{ve.modelo}}</td>
                    <td>{{ve.ultima_revision}}</td>
                    <td>{{ve.proxima_revision}}</td>
                    <td>{{ve.observaciones}}</td>
                </tr>
                {% endif %}
            {% elif tipo_dato == "modelo" %}
                {% if ve.modelo == variable%}
                <tr>
                    <td>{{ve.patente}}</td>
                    <td>{{ve.numero_chasis}}</td>
                    <td>{{ve.marca}}</td>
                    <td>{{ve.modelo}}</td>
                    <td>{{ve.ultima_revision}}</td>
                    <td>{{ve.proxima_revision}}</td>
                    <td>{{ve.observaciones}}</td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}